<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\MessageQueue\PublisherInterface">
        <arguments>
            <argument name="publishers" xsi:type="array">
                <item name="product_deduplication_run_topic" xsi:type="object">Magento\Framework\MessageQueue\Publisher</item>
            </argument>
        </arguments>
    </type>

    <type name="Test\ProductDeduplication\Model\Consumer\RunConsumer">
        <arguments>
            <argument name="deduplicationFactory" xsi:type="object">Test\ProductDeduplication\Model\DeduplicationFactory</argument>
        </arguments>
    </type>
</config>
